html {
    min-height: 100%;
    background: #069;
    background: linear-gradient(to bottom, #5077ae 0%,#90a7ca 15%,#4d5e67 74%,#3d5158 84%,#4a6a7b 100%);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}


body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.whole-page {
    width: 95%;
    margin: 2.5% auto;
    background: #fff;
}

.text-muted {
    color: #999;
}

.border-topdown {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
}


.col-20 {
    width: 20%;
}


.col-60 {
    width: 60%;
}

.float-fix {
    clear:both;
}

.container {
    display: flex;
    flex-flow: row;
    position: relative;
}

.column {
    flex: 1 1 auto;
    height: 100%;
}


.text-justify {
    text-align: justify;
}


header {
    display: block;
    background: #f5f5f5;
    z-index: 5555;
}

    header .top {
        background: #fff;
        padding-bottom: 30px;
    }

    header #menu-clicker {
        padding: 5px 5px 5px 15px;
        font-size: 2em;
        width: 100%;

        cursor: pointer;
        color: #888;
    }

    header #logo {
        text-align: center;
    }

    header #logo img {
        width: 30%;
    }

    header #logo .title {
        font-size: 2em;
        text-transform: uppercase;
    }

    header #logo .description {
        font-size: 1em;
    }


#menu {
    padding: 0px 0px 0px 20px;
    font-size: 1.1em;
}

    #menu .contents {
        color: #999;
        display: block;
        padding: 5px;

        border: 2px solid #ddd;
        border-left: none;
        border-right: none;
        text-align: center;
    }

    #menu a {
        text-decoration: none;
        color: #000;
    }

    #menu ul  {
        list-style: none;
        width: 100%;
    }

    #menu ul ul {
        display: block;
        padding: 10px;
    }

    #menu ul li a, #menu ul li span {
        display: block;
        padding: 5px 5px 5px 30px;
        font-weight: bold;
    }

    #menu ul li, #menu ul li span  {
        border-bottom: 1px solid #ddd;
    }

        #menu ul li ul li {
            border: none;
        }

        #menu ul li ul a {
            font-weight: normal;
        }

    #menu .dropdown-content {
        clear: both;
        display: block;
        opacity: 1;
        transition: opacity 1s ease-out;
    }

    #menu .dropdown-content.hidden {
        display: none;
        opacity: 0;
    }

.fa-angle-down {
    color: #999;
    float: right;
    margin: 5px 15px auto auto;
}



main {
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom: none;

    box-shadow: 0px 0px 50px rgba(0,0,0,0.2);

    z-index: 7777;
}

    main .edit-article {
        text-align: right;
        font-size: 1.7em;
        color: #bbb;

        padding: 20px;
    }

main .text-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main .notice {
    background: #ddd;
    border-radius: 10px;
    margin: 10px auto 40px auto;
    padding: 5px 15px;
    display: inline-block;


}

main .lead {
    font-size: 1.2em;
}

main p {
    font-size: 1.1em;
    text-align: justify;
}

main .article-img {
    margin: 30px 0px;
    width: 100%;
    border-radius: 5px;
}

main h1 {
    font-size: 4em;
    margin: 30px auto;
}

main h2 {
    font-size: 2.25em;
    margin: 20px 0px;
}

main h4 {
    font-size: 1.50em;
    margin: 20px 0px;
}



aside {
    display: block;
    background: #f6f9fa;
    border: 1px solid #e5e5e5;
    border-left: none;

    z-index: 5555;
}

.search-page {
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: .5em;

}

aside i {
    color: #888;
}


.fa-caret-down, .far {
    float: right;
    margin-right: 10px;
}

 #user-search {
    background-color: #fdfdfd;
    padding: 30px;
 }

 aside h5 {
     padding: 10px;
     font-size: 14px;
     text-align: center;
     letter-spacing: -1;
     font-weight: bold;
     color: #999;
 }

 aside .article-img {
    width: 100%;
    border-radius: 1px;
    margin: 0px !important;
    display: block;
}


.location {
    padding:10px;
    text-align: center;
}
    .location .country-span {
        float: left;
        width: 50%;
        font-weight: bold;
    }

    .location .country-name {
        float: right;
        width: 50%;
    }


.geo {
    padding:10px;
    text-align: center;
}
    .geo .area {
        float: left;
        width: 50%;
    }

    .geo .density {
        float: right;
        width: 50%;
    }

    .geo .geo-title {
        color: #069;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        font-size: 0.8em;
    }

    .geo  .geo-value {
        color: #111;
        font-size: 1.2em;
    }

    .geo sup {
        font-size: 0.8em;
        line-height: 1;
        vertical-align: super;
    }


.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.anthem .fas {
    font-size: 300%;
    padding: 10px;
}

.play-icon {
    float: left;
    cursor: pointer;
}

    .play-icon:hover {
        font-size: 1.2em;
    }

.anthem-text {
    float: left;
    padding-top: 14px;

}


@media (max-width: 768px) {

    .container {
        display: block;
        width: 100%;
    }

    body { background: #fff; }

    .whole-page {
        width: 100%;
        margin: 0;
    }

    .col-20 { width: 100%; }
    .col-60 { width: 100%; }

    main h1 {
        font-size: 3em;
        word-wrap: break-word;
    }

    main .text-container {
        width: 100%;
    }

    header {
        transition: all 0.5s ease;
        position: fixed;
        overflow: hidden;
    }

        header.hidden {
            max-height: 3em !important;
            position: fixed;
        }





}