
body {
    font-size: 16px;
}

.container {}

header {
    display: block;
    max-width: 320px;
    background: #f5f5f5;
    height: 100%;
    position: absolute;
}

    header .top {
        background: #fff;
        padding-bottom: 30px;
    }

    header #menu-clicker {
        padding: 5px 5px 5px 15px;
        font-size: 2em;
        width: 100%;

        cursor: pointer;
        color: #888;
    }

    header #logo {
        text-align: center;
    }

    header #logo img {
        width: 30%;
    }

    header #logo .title {
        font-size: 2em;
        text-transform: uppercase;
    }

    header #logo .description {
        font-size: 1em;
    }


#menu {
    padding: 0px 0px 0px 20px;
    font-size: 1.6em;
}

    #menu .contents {
        color: #999;
        display: block;
        padding: 5px;

        border: 2px solid #ddd;
        border-left: none;
        border-right: none;
        text-align: center;
    }

    #menu a {
        text-decoration: none;
        color: #000;
    }

    #menu ul  {
        list-style: none;
    }

    #menu ul ul {
        display: block;
        padding: 10px;
    }

    #menu ul li a, #menu ul li span {
        display: block;
        padding: 5px 5px 5px 30px;
        font-weight: bold;
    }

    #menu ul li, #menu ul li span  {
        border-bottom: 1px solid #ddd;
    }

        #menu ul li ul li {
            border: none;
        }

        #menu ul li ul a {
            font-weight: normal;
        }